db/postgres*.jar
.vscode/
env/
__pycache__/
*.pyc
.DS_Store
.idea/
db/mariadb-java-client-*.jar
db/liquibase.jar
sample_metadata
*.egg-info/
db/liquibase.jar
node_modules/
web/build
api/public
web/src/static/sm_docs
sm/
web/src/sm-api/
dist/
build/
