db/postgres*.jar
.vscode/
env/
__pycache__/
*.pyc
.DS_Store
.idea/
db/mariadb-java-client-*.jar
!sample_metadata/
sample_metadata/*
!sample_metadata/parser/
*.egg-info/
db/liquibase.jar
node_modules/
web/build
api/public
web/src/static/sm_docs
sm/
web/src/sm-api/
dist/
build/
