repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-yaml
    exclude: '\.*conda/.*'
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: '\.txt$|\.tsv$'
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: detect-private-key
  - id: debug-statements
  - id: check-added-large-files

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.29.0
  hooks:
  - id: markdownlint
    args: ['--config', '.markdownlint.json']

- repo: https://github.com/ambv/black
  rev: 22.3.0
  hooks:
  - id: black
    args: [.]
    pass_filenames: false
    always_run: true
    exclude: ^sample_metadata/

- repo: https://gitlab.com/pycqa/flake8
  rev: '4.0.1'
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear, flake8-quotes]

# Using system installation of pylint to support checking python module imports
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]

# mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.931
  hooks:
  - id: mypy
    args: [--pretty, --show-error-codes, --no-strict-optional, --ignore-missing-imports]
