# requirements are for running the server
cpg-utils
requests==2.25.1
google-auth==1.35.0
google-cloud-secret-manager==2.8.0
google-cloud-logging==2.7.0
google-cloud-storage==1.43.0
fastapi[all]==0.70.0
python-multipart==0.0.5
uvicorn==0.13.4
databases[mysql]==0.4.3
cryptography==36.0.1
python-dateutil
urllib3 >= 1.25.3
