-r requirements.in
black>=22.3.0
bump2version
click
coverage
flake8
flake8-bugbear
nest-asyncio
pre-commit
pylint==3.2.7
testcontainers[mysql]>=4.8.1
types-PyMySQL
pymysql==1.1.1
# some strawberry dependency
strawberry-graphql[debug-server]
# following required to unit test etl functions
functions_framework
google-cloud-bigquery
google-cloud-pubsub
# following required to unit test some billing functions
pytz
pytest
pytest-cov
openapi-generator-cli==5.3.0
