# requirements are for running the server
# fix boto3/core version to prevent pip downloading all the versions caused by cloudpathlib
backoff>=2.2.1
boto3>=1.35.12
botocore>=1.35.12
cpg-utils>=5.1.0
aiohttp
async_lru
cloudpathlib
requests
google-auth>=2.19.0
google-cloud-bigquery==3.11.4
google-cloud-logging==2.7.0
google-cloud-pubsub==2.18.3
google-cloud-storage==1.43.0
uvicorn==0.29.0
fastapi[all]==0.112.2
strawberry-graphql[fastapi]==0.235.1
databases[mysql]==0.9.0
cryptography>=41.0.0
python-dateutil==2.8.2
slack-sdk==3.20.2
