black>=22.3.0
click==8.0.4
flake8
flake8-bugbear
pre-commit
pylint
bump2version
testcontainers[mariadb]
nest-asyncio
coverage
types-PyMySQL
# following required to unit test etl functions
functions_framework
google-cloud-bigquery
google-cloud-pubsub
# following required as dependency for unitest
cpg-infra @ git+https://github.com/populationgenomics/cpg-infrastructure@06b6680e89e0e26ccc2b4dfdf46056da3e92d16a
