.switch-toggle {
    float: left;
    background: #242729;
    margin-right: 20px;
    border-radius: 25px;
}
.switch-toggle input {
    position: absolute;
    opacity: 0;
}
.switch-toggle input + label {
    padding: 7px;
    float: left;
    color: #fff;
    cursor: pointer;
}
.switch-toggle input:checked + label {
    background: green;
    border-radius: 25px;
    outline: solid;
    outline-width: 2px;
    outline-color: white;
}
