/* Metamist duck */
#metamist {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 28px;
    padding: 0 8px;
}

#metamist-img {
    vertical-align: bottom;
    font-size: 28px;
    font-weight: bold;
    padding: 16px;

    &:hover {
        cursor: pointer;
    }
}

/* Menu bar */
.App-header {
    background-color: #24344f !important;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0 8px;
    /* height: 50px; */
}

.App-header a {
    color: white !important;
    text-decoration: none;
}

.App-header div {
    color: white;
    text-decoration: none;
}

.ui.header.menu {
    background-color: #24344f;
    box-shadow: none;
}

/* Menu items top level */

/* Text mode */
.App-header .navbarLink {
    padding: 8px;
}

.App-header .ui.menu .item.headerMenuItem {
    color: #f2f2f2 !important;
}

/* Icon mode */
.App-header .navbarIcon {
    padding: 8px;
    display: inline-block;
    color: #f2f2f2;
}

.App-header .ui.menu .item {
    padding: 8px !important;
}

/* Menu items sub level */
#navDrop #navDropMenu {
    border-radius: 4px !important;
    top: 150% !important;

    html[data-theme='dark-mode'] & {
        background-color: #555 !important;
        color: #f2f2f2 !important;
    }
}

#navDropMenuItem {
    border-radius: 4px !important;
    padding: 10px !important;
    margin: 1px !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;

    html[data-theme='dark-mode'] & {
        background-color: #353535 !important;
        color: rgba(255, 255, 255, 0.87) !important;

        &:hover {
            background-color: #555 !important;
        }
    }
}

#navDrop #navItem {
    padding: 10px !important;
    margin: 1px !important;
    border-radius: 4px !important;
}

/* To check */
html[data-theme='dark-mode'] .ui.dropdown .menu > .item {
}
