@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

/* Dark mode
:root {

  --color-border-default: #444c56
} */
/* :root { */
/* .light-mode { */
:root {
    --color-bg: #f5f7f9;
    --color-bg-card: #fff;
    --color-bg-disabled-card: #eeeeee;
    --color-table-header: #eaeaea;
    --color-text-red: #ff0000;

    --color-border-color: #c8c9ca;
    --color-border-default: #d0d7de;
    --color-border-red: #f04848;

    --color-divider: rgba(0, 0, 0, 0.3);

    /* From: https://material.io/design/color/text-legibility.html#text-backgrounds */

    --color-text-primary: rgba(0, 0, 0, 0.87);
    --color-text-medium: rgba(0, 0, 0, 0.6);
    --color-text-disabled: rgba(0, 0, 0, 0.38);

    --color-check-green: #7ac142;
    --color-table-header: #f9fafb;

    --color-bg-over-budget: rgba(128, 0, 0, 0.2);
    --color-bg-half-budget: rgba(255, 165, 0, 0.2);
    --color-bg-under-budget: rgba(0, 128, 0, 0.2);

    --color-text-href: rgb(65, 131, 196);
}

html[data-theme='dark-mode'] {
    /* .dark-mode { */
    --color-bg: #1d1d1d;
    --color-bg-card: #2c2c2c;
    --color-bg-disabled-card: #353535;
    --color-table-header: #383838;

    --color-border-color: #3a3a3a;
    --color-border-default: #292a2b;
    --color-border-red: #921111;
    --color-divider: rgba(255, 255, 255, 0.2);

    --color-text-primary: rgba(255, 255, 255, 0.87);
    --color-text-medium: rgba(255, 255, 255, 0.6);
    --color-text-disabled: rgba(255, 255, 255, 0.38);
    --color-text-red: #fb6f6f;

    --color-check-green: #659251;
    --color-table-header: rgba(0, 0, 0, 0.15);

    --color-bg-over-budget: rgba(128, 0, 0, 0.5);
    --color-bg-half-budget: rgba(255, 165, 0, 0.5);
    --color-bg-under-budget: rgba(0, 128, 0, 0.5);

    --color-text-href: rgb(188, 188, 251);
}

/* poor man's dark mode: https://github.com/swagger-api/swagger-ui/issues/5327#issuecomment-742375520 */
html[data-theme='dark-mode'] .swagger-ui {
    filter: invert(88%) hue-rotate(180deg);
}

html[data-theme='dark-mode'] .swagger-ui .highlight-code {
    filter: invert(100%) hue-rotate(180deg);
}

html[data-theme='dark-mode'] .ui.selection.dropdown {
    background-color: #353535;
    color: rgba(255, 255, 255, 0.87);
    z-index: 10;
}

html[data-theme='dark-mode'] .ui.selection.visible.dropdown > .text:not(.default) {
    color: rgba(255, 255, 255, 0.87);
}

html[data-theme='dark-mode'] .ui.dropdown .menu > .item {
    background-color: #353535;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    z-index: 10;
}

html[data-theme='dark-mode'] .ui.dropdown .menu > .item:hover {
    background-color: #2c2c2c;
    z-index: 10;
}

html[data-theme='dark-mode'] .ui.button {
    background-color: #353535;
    color: rgba(255, 255, 255, 0.87);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto !important;

    background-color: var(--color-bg);
    color: var(--color-text-primary);
    background: var(--color-bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre :not(small) :not(span) {
    margin: 0px;
    padding: 0;
    background: #f8f8f8;
    border: 1px solid #e1e4e5;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', Courier,
        monospace;
    /* font-size: 12px; */
    line-height: 1.4;
}

blockquote {
    border-left: 0.25em solid var(--color-border-default);
    margin: 0;
    padding-left: 1em;
    font-style: italic;
}

.body {
    /* padding: 10px 20px;
  max-width: 768px;
  margin: calc(50px + 1vmin) auto 0 auto; */
    padding: 80px;
    padding-top: 40px;
}

@media screen and (min-width: 1200px) {
    .dataStyle {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.accordionStyle {
    width: 100% !important;
}

.ui.accordion .title:not(.ui) {
    color: var(--color-text-primary);
}

.ui .card {
    background: var(--color-bg-card);
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-default);
}

textarea {
    background: var(--color-bg);
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-default);

}

/* https://alexandergottlieb.com/2018/02/22/overflow-scroll-and-the-right-padding-problem-a-css-only-solution/ */
.projectSummaryGrid::after {
    content: '';
    display: block;
    position: absolute;
    right: -80px;
    width: 80px;
    height: 1px;
}

html[data-theme='dark-mode'] .ui.styled.accordion {
    box-shadow: 0 1px 2px 0 rgba(84, 84, 84, 0.87), 0 0 0 1px rgba(84, 84, 84, 0.87);
}

html[data-theme='dark-mode'] .ui.styled.accordion .content {
    background-color: #353535;
    border-color: rgba(255, 255, 255, 0.87);
}

html[data-theme='dark-mode'] .ui.styled.accordion .title {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}

html[data-theme='dark-mode'] .ui.styled.accordion .active.title {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}

html[data-theme='dark-mode'] .ui.styled.accordion .title:hover {
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.87);
}

html[data-theme='dark-mode'] .ui.table {
    /* background-color: red; */
    border: 1px solid rgba(84, 84, 84, 0.87);
}

.selectedParticipant {
    animation-name: tempHighlight;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    color: rgb(199, 27, 27);
    /* animation-timing-function: ease-in; */
}

@keyframes tempHighlight {
    from {
        color: rgb(199, 27, 27);
    }

    to {
        color: black;
    }
}

/* Turn off weird highlighting code blocks from react SyntaxHighlighter */
[class^='language-'] {
    border: none;
}

#group-by-dropdown .menu {
    background: #ffffff !important;
}

.field-selector-label {
    width: 200px !important;
}

.field-selector-dropdown {
    width: 80% !important;
}

.donut-chart {
    padding-top: 20px;
}

/* missing styles regarding dark/light theme */
.ui.fluid.card {
    color: var(--color-text-primary);
    background: var(--color-bg);
    fill: var(--color-text-primary);
}

.ui.header {
    color: var(--color-text-primary);
}

.ui.input > input {
    color: var(--color-text-primary);
    background: var(--color-bg-card);
}

.ui.toggle.checkbox label {
    color: var(--color-text-primary);
}

.ui.toggle.checkbox input:checked ~ .box,
.ui.toggle.checkbox input:checked ~ label {
    color: var(--color-text-primary) !important;
}

/* charts */
.tooltip {
    background-color: var(--color-bg-card);
    color: var(--color-text-primary);
}

.chart-card {
    background-color: var(--color-bg-card);
    color: var(--color-text-primary) !important;
}

.chart-label {
    color: var(--color-text-primary) !important;
}

.hb-chart-grid {
    color: var(--color-divider) !important;
}

.billing-over-budget {
    background-color: var(--color-bg-over-budget) !important;
}

.billing-half-budget {
    background-color: var(--color-bg-half-budget) !important;
}

.billing-under-budget {
    background-color: var(--color-bg-under-budget) !important;
}

.billing-href a {
    color: var(--color-text-href) !important;
}

.bold-text {
    font-weight: bold;
}
