@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

/* Dark mode
:root {

  --color-border-default: #444c56
} */
:root {
    --color-bg: #f5f7f9;
    --color-bg-card: #fff;
    --color-bg-disabled-card: #eeeeee;

    --color-border-color: #3a3a3a;
    --color-border-default: #d0d7de;

    --color-divider: rgba(0, 0, 0, 0.3);

    /* From: https://material.io/design/color/text-legibility.html#text-backgrounds */

    --color-text-primary: rgba(0, 0, 0, 0.87);
    --color-text-medium: rgba(0, 0, 0, 0.6);
    --color-text-disabled: rgba(0, 0, 0, 0.38);

    --color-check-green: #7ac142;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #1d1d1d;
        --color-bg-card: #2c2c2c;
        --color-bg-disabled-card: #353535;

        --color-border-color: #3a3a3a;
        --color-border-default: #292a2b;
        --color-divider: rgba(255, 255, 255, 0.2);

        --color-text-primary: rgba(255, 255, 255, 0.87);
        --color-text-medium: rgba(255, 255, 255, 0.6);
        --color-text-disabled: rgba(255, 255, 255, 0.38);

        --color-check-green: #659251;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto !important;

    background-color: var(--color-bg);
    color: var(--color-text-primary);
    background: var(--color-bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre :not(small) :not(span) {
    margin: 0px;
    padding: 0;
    background: #f8f8f8;
    border: 1px solid #e1e4e5;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', Courier,
        monospace;
    /* font-size: 12px; */
    line-height: 1.4;
}

blockquote {
    border-left: 0.25em solid var(--color-border-default);
    margin: 0;
    padding-left: 1em;
    font-style: italic;
}

.App-header {
    background-color: #24344f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.metamist {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 28px;
    display: inline-block;
}

.header {
    background-color: #24344f;
    /* overflow: hidden; */
    padding: 80px;
    display: flex;
    align-items: center;
    padding: 0px 80px 0px 80px;
}

.header img {
    vertical-align: bottom;
}

.navbarLink {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.body {
    /* padding: 10px 20px;
  max-width: 768px;
  margin: calc(50px + 1vmin) auto 0 auto; */
    padding: 80px;
}

.App-header a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
    .dataStyle {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.accordionStyle {
    width: 100% !important;
}

.selectedParticipant {
    animation-name: tempHighlight;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    color: rgb(199, 27, 27);
    /* animation-timing-function: ease-in; */
}

@keyframes tempHighlight {
    from {
        color: rgb(199, 27, 27);
    }

    to {
        color: black;
    }
}
