#group-by-dropdown .menu {
    background: #ffffff !important;
}

.field-selector-label {
    width: 200px !important;
}

.field-selector-dropdown {
    width: 80% !important;
}

.donut-chart {
    margin-top: 20px;
}
