name: PR Checklist Manager Bot

on:
  pull_request:
    branches: 
      - dev

jobs:
  checklist:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Your workflow steps
        run: echo "Running because PR review was edited"

      # - name: Run checklist manager
      #   uses: actions/github-script@v7
      #   with:
      #     script: |
      #       const script = require('./.github/scripts/manage-checklist.js');
      #       await script({ github, context, core });