name: PR Checklist Bot

on:
  pull_request:
    branches: 
      - dev

jobs:
  checklist:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install dependencies
        working-directory: ./.github/scripts
        run: npm ci
          
      - name: Run checklist bot
        id: run-bot
        run: node ./.github/scripts/create-checklist.js