name: PR Checklist Bot

on:
  pull_request:
    branches: 
      - dev

jobs:
  checklist:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run checklist manager
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.github/scripts/create-checklist.js');
            await script({ github, context, core });