name: Deploy
on:
  push:
    branches:
      - main
      - dev
      - update-packages

jobs:
  build-publish:
    # Run on merge to main, where the commit name starts with "Bump version:" (for bump2version)
    #    if: "startsWith(github.event.head_commit.message, 'Bump version:')"
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
      # used for generating API
      SM_DOCKER: australia-southeast1-docker.pkg.dev/sample-metadata/images/server:${{ github.sha }}
      SM_API_DOCKER: australia-southeast1-docker.pkg.dev/cpg-common/images/sm-api
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@main

      - name: "gcloud setup"
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: sample-metadata
          service_account_key: ${{ secrets.GCP_SERVER_DEPLOY_KEY }}

      - name: "gcloud docker auth"
        run: |
          gcloud auth configure-docker australia-southeast1-docker.pkg.dev

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: buildenv
          channels: conda-forge,bioconda,defaults
          channel-priority: true
          python-version: 3.7

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'

      - name: Setup build env
        run: |
          conda install pip conda-build anaconda-client requests
          wget https://repo1.maven.org/maven2/org/openapitools/openapi-generator-cli/5.3.0/openapi-generator-cli-5.3.0.jar -O openapi-generator-cli.jar
          alias openapi-generator="java -jar openapi-generator-cli.jar"

      - name: prepare-deployment
        run: |
          if [[ $GITHUB_REF == 'refs/heads/main' ]]; then
            echo DEPLOYMENT_TYPE=prod >> $GITHUB_ENV
          else
            echo DEPLOYMENT_TYPE=dev >> $GITHUB_ENV
            pip install bump2version
            # add
            bump2version patch \
              --no-commit --allow-dirty \
              --new-version $(cat deploy/python/version.txt)dev$(echo $(git rev-parse HEAD) | cut -c1-7)
          fi
      # we have to build the image first without the web files to
      # generate the openapi file to then generate the documentation
      - name: "build image"
        run: |
          docker build --tag $SM_DOCKER -f deploy/api/Dockerfile .

      - name: "build deployable API"
        run: |
          python regenerate_api.py
          ls -lGh sample_metadata

        # also copies build artifacts to api/public
      - name: "build web front-end"
        run: |
          pushd web
          npm install
          npm run build
          popd

      # rebuild docker image now that front-end files are in the right place
      - name: "build image II"
        run: |
          docker build --tag $SM_DOCKER -f deploy/api/Dockerfile .

      - name: Build sample-metadata API conda package
        run: conda build conda/$(basename $GITHUB_REPOSITORY)

      - name: "push server image"
        run: |
          docker push $SM_DOCKER

      - name: "deploy to Cloud Run"
        run: |
          if [[ $GITHUB_REF == 'refs/heads/main' ]]; then
            gcloud_deploy_name=sample-metadata-api
          else
            gcloud_deploy_name=sample-metadata-api-dev
          fi
          gcloud run deploy \
            $gcloud_deploy_name --image $SM_DOCKER \
            --region australia-southeast1 --no-allow-unauthenticated \
            --platform managed

      - name: Upload to anaconda package repository
        run: |
          anaconda -t ${{ secrets.ANACONDA_TOKEN }} \
            upload ${CONDA_PREFIX}/conda-bld/**/*.tar.bz2

      - name: Build and push sample-metadata API docker image
        run: |
          version=$(cat deploy/python/version.txt)
          docker build \
            -t $SM_API_DOCKER:$version \
            --build-arg SM_VERSION=$version \
            deploy/python
          docker push $SM_API_DOCKER:$version
