name: Lint
on: push

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
      # used for generating API
      SM_DOCKER: samplemetadata:dev
    defaults:
      run:
        shell: bash -eo pipefail -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'

      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e #v6.8.0
        with:
          activate-environment: true
          enable-cache: false
          version: 0.8.22 #uv version

      - name: Setup build env
        run: |
          set -euxo pipefail

          uv sync --only-dev

      - name: 'install frontend deps'
        working-directory: ./web
        run: npm ci

      - name: 'check frontend formatting'
        working-directory: ./web
        run: npm run format:check

      - name: 'check frontend linting'
        working-directory: ./web
        run: npm run lint

      - name: 'build image'
        run: |
          docker build \
            --build-arg SM_ENVIRONMENT=local \
            --tag $SM_DOCKER \
            -f deploy/api/Dockerfile \
            .

      - name: Build + install packages
        run: |
          uv sync --group dev
          uv run regenerate_api.py
          uv pip install .
          mkdir .mypy_cache

      - name: pre-commit
        run: uv run pre-commit run --all-files
