name: Security Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

permissions: {}


jobs:
  pip-audit:
    runs-on: ubuntu-latest
    name: Pip Audit
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e #v6.8.0
        with:
          activate-environment: true

      - name: Install project dependencies
        run: |
          uv sync

      - uses: pypa/gh-action-pip-audit@v1.1.0
        name: Pip Audit Dependencies
        with:
          virtual-environment: .venv #audit the env
          summary: true

