name: Security Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

permissions: {}


jobs:
  pip-audit:
    runs-on: ubuntu-latest
    name: Pip Audit
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@6b9c6063abd6010835644d4c2e1bef4cf5cd0fca #v6.0.1

      - name: Install project dependencies
        run: |
          uv sync
          source .venv/bin/activate

      - uses: pypa/gh-action-pip-audit@v1.1.0
        name: Pip Audit Dependencies
        with:
          virtual-environment: .venv #audit the env
          summary: true

