name: Test dev deployment
on: [push, pull_request]

jobs:
  deploy_dev_and_unittest:
    # Run on merge to main, where the commit name starts with "Bump version:" (for bump2version)
    #    if: "startsWith(github.event.head_commit.message, 'Bump version:')"
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
      # used for generating API
      SM_DOCKER: samplemetadata:dev
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@main

      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: "setup build env"
        run: |
          pip install -r requirements-dev.txt
          pip install -r requirements.txt
          wget https://repo1.maven.org/maven2/org/openapitools/openapi-generator-cli/5.3.0/openapi-generator-cli-5.3.0.jar -O openapi-generator-cli.jar

      - name: "build image"
        run: |
          docker build \
            --build-arg SM_ENVIRONMENT=local \
            --tag $SM_DOCKER \
            -f deploy/api/Dockerfile \
            .

      - name: "build deployable API"
        run: |
          export OPENAPI_COMMAND="java -jar openapi-generator-cli.jar"
          python regenerate_api.py
          ls -lGh sample_metadata
          pip install .

      - name: "Run unit tests"
        run: |
          python -m unittest discover test/
          INPUT_PROJECT: dev
          OUTPUT_PROJECT: dev
